    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #b0c4de;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-height: 100vh;
        padding-top: 15px;
    }

    h1 {
        margin-bottom: 25px;
        color: black;
        font-size: 30px;
        text-shadow: 0 2px 4px rgba(0,0,0,0.3);
    }

    .card {
        background-color: white;
        width: 350px;
        padding: 25px;
        border-radius: 18px;
        /* box-shadow: 0 5px 15px rgba(0,0,0,0.2); */
        text-align: center;
    }

    label {
        display: block;
        text-align: left;
        margin-top: 15px;
        font-weight: bold;
        color: black;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        border: 1px lightgray;
        border-radius: 10px;
        font-size: 15px;
    }

    input:focus {
        box-shadow:5%;
    }

    button {
        width: 50%;
        padding: 12px;
        margin-top: 20px;
        background-color: steelblue;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        transition: 0.3s;
    }

    button:hover {
        background-color: darkblue;
    }

    #resetbutty {
        background-color:rgb(49, 131, 131);
        margin-top: 10px;
    }

    #resetbutty:hover {
        background-color: #555;
    }

    #entry, #results #button {
        margin-top: 20px;
        background: #eef2f5;
        padding: 15px;
        border-radius: 12px;
        color: #333;
        font-size: 14px;
        
    }
